.App {
  max-width: 600px;
  border: 4px solid rgba(219, 51, 177, 0.7);
  border-radius: 26px;
  padding: 20px 20px;
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  font-family: "Klee One", cursive;
  box-shadow: 16px 3px 28px 5px rgba(163, 27, 225, 0.2);
}
.App small {
  font-style: italic;
  color: rgb(177, 185, 191);
}
.App .link {
  color: rgba(219, 51, 177, 0.7);
}
